
body {
    margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
    background-image: url(/Assets/img/bg.png);
    background-size: 400% 400%;
    -webkit-animation: gradientBG 7s ease infinite;
    -ms-animation: gradientBG 7s ease infinite;
    animation: gradientBG 7s ease infinite;
    overflow: hidden;
    
}

.whatIs {
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.whatIsImg {
    padding-left: 40px;
    width: 40px;
    height: 40px;
}

.whatGames {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.whatGamesImg {
    padding-right: 40px;
    width: 40px;
    height: 40px;
}

.center {
    text-align: center;
    padding-bottom: 5px;
}

h1 {
    text-align: center;
}

.sorryParent {
    padding-top: 100px;
    text-align: center;
}

.sorry {
    text-align: center;
}

.socialsContainter {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    width: 180px;
}

p.irlName {
    font-size: 10px;
}

.iframeContainer {
    display: flex;
    justify-content: center;
}

.pages {
    display: flex;
    flex-direction: row;
}

.logo {
    margin: 10px;
    padding: 0px;
    color: #a7a7a7;
    font-size: 20px;
    padding-right: 25px;
}

.accountContainerParent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.accountContainer{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: flex-start;
    height: 330px;
    width: 290px;
    display: flex;
    align-items: center;
    border-radius: 15%;
    background-color: rgb(75, 23, 143);
}

.accountContainer:hover {
    animation: liftUp;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    
}

.voteParent {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

.voteButton {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(180deg, #e92f2f, #aa4205);
}

.voteButton:hover {
    animation: liftUp;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.currentPage {
    text-shadow: 0px 0px 5px #00ff0d;
}

.page {
    padding-right: 10px;
    color: #727171;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
}

.navbar {
    position: sticky;
    background-color: #121114b6;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-webkit-keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-ms-keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes liftUp {
    from { box-shadow: 0px 0px 0px #000000;}
    to { box-shadow: 0px 0px 10px #000000;}
}